

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

.sidebar {
  background-color: #4B0082;
  color: white;
  width: 250px;
  height: 100vh;
  padding: 20px;
}

.logo-container {
  text-align: center;
  margin-bottom: 30px;
}

.logo-container img {
  width: 80%;
  height: auto;
}

.sidebar a,
.sidebar-section-header {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.sidebar a:hover, .sidebar a.active,
.sidebar-section-header.active {
  background-color: #663399;
}

.sidebar-section-header::after {
  content: '▼';
  float: right;
}

.sidebar-section-header.active::after {
  content: '▲';
}

.sidebar-section-links {
  display: none;
  padding-left: 20px;
}

.content {
  margin-left: 250px;
  padding: 40px;
  flex-grow: 1;
  background-color: #f8f9fa;
}

/* Spacing in form */
.student-form .form-group {
  margin-bottom: 2rem; /* Increased space between fields */
}

/* Button styles */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #007bff;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Table styles */
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #007bff;
  color: white;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .sortable:hover {
  background-color: #0056b3;
  cursor: pointer;
}

/* Sort Icons */
.sort-icon {
  margin-left: 5px;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item {
  display: inline;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Other styles... */
